.theme-light {
  --primary-bg-url: url("./img/bg-light.jpg");
  --primary-text: #e89c38;
  --primary-button: #e89c38;
  --primary-button-hover: #dd8a1d;
  --primary-button-text: #fff;
  --secondary-bg: #ffe3bf;

}

.theme-dark {
  --primary-bg-url: url("./img/bg-dark.jpg");
  --primary-bg: #13121d;
  --primary-text: #60aafa;
  --primary-button: #033874;
  --primary-button-hover: #004ea6;
  --primary-button-text: #ffffff;
  --secondary-bg: #052345;

}

body, html, #root{
  height:100%;
  width: 100vw;
}


.App{
  padding: 2rem;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: var(--primary-bg-url);
  background-position: center;
  background-size: cover;
  color: var(--primary-text);
  height: 100%;
}

span{
  padding: 0.2rem 0.8rem;
  background-color: var(  --primary-button);
  color:var(--primary-button-text);
  border-radius: 1rem;
}
.App img{
  fill: #b6baf2!important;
}


.main-infos{
  width: 100%;
  height: 100%;
}
.icon-infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.c-icon_card{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width: 100%;
  margin: 2rem 0rem;
}

.c-icon_card img{
  width: 2rem;
  margin-right:1.5rem;
}


.infos-hours{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

  overflow: hidden;
  width: 150vw;
}

.infos-week{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.week-weather{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.infos-hours::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.infos-hours {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.c-day{
  overflow: scroll;
}


.hour-weather{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  margin-right: 1rem;

}

.c-search_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 14px;
  background-color: var(--secondary-bg);
  width: 100%;
  color: var(--primary-text);
  border-radius: 10px;
  border: 1px solid var(--theme-tertiary-black12);
  box-sizing: border-box;
}

.c-search_bar-icon{
  background-image: url("./img/search.png");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 1rem 1.5rem;
  margin: 0px 10px 0px 0px;
}

.search-bar{
  border: 0;
  background: none;
  outline: none;
  color: var(--primary-text);
  font-family: var(--theme-font-text);
  font-size: 15px;
  width: 100%;
}

.c-search_bar button{
  padding: 1rem;
  border: none;
  background: var(--primary-button);
  color: var(--primary-button-text);
  cursor: pointer;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  transition: 0.3s ease-in-out;
}

.c-search_bar button:hover{

  background: var(--primary-button-hover);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
